asgiref==3.8.1
backports.zoneinfo==0.2.1
boto3==1.34.113
botocore==1.34.113
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.13
django-allauth==0.61.0
django-allauth[google]==0.61.0
django-storages==1.14.3
idna==3.7
importlib_metadata==7.1.0
jmespath==1.0.1
oauthlib==3.2.2
pillow==10.3.0
pystache==0.6.5
python-dateutil==2.9.0.post0
requests==2.32.2
requests-oauthlib==2.0.0
s3transfer==0.10.1
six==1.16.0
sqlparse==0.5.0
static==1.1.1
typing_extensions==4.12.0
tzdata==2024.1
urllib3==1.26.18
zipp==3.19.0
